<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="CartMapper">

    <!-- 상품 담기-->
    <insert id="insertCart">
        INSERT INTO cart (id, amount, product_id, date, sale_code)
        VALUES (id, #{amount}, #{product_id}, now(), concat(substring(now(),1,8),substring(replace(now(), ':',''),12,17)));
    </insert>

    <!-- 메뉴 삭제 -->
    <delete id="deleteCart">
        DELETE FROM cart WHERE product_id=#{product_id};
    </delete>
</mapper>