<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="JoinMapper">

    <!-- 회원가입 -->
    <insert id="insertAdmin">
        INSERT INTO admin (name, user_pwd, user_email, is_out)
        VALUES (#{name}, #{user_pw}, #{user_email}, 'Y');
    </insert>

    <!-- 로그인 -->
    <select id="login">
        SELECT user_pwd, user_email FROM admin WHERE user_email=#{user_email};
    </select>

</mapper>